* {
    margin: 0;
    padding: 0;
}

/* #image {
    width: 100%;
    float: left;
    margin-right: 10px;
    padding: 10px;
} */

body {
    background-color: #f8f9fa;
}

.nav-link {
    color: whitesmoke;
}

#top_container {
    background-color: lightgrey;
}

.card-img-top {
    min-height: 400px;
    max-height: 400px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

